<div id="question">
  <p><%=  @question %></p>
  - You
</div>

<div id="answer">
  <p><%=  @response %></p>
  - The Coach
</div>

<div id="linkanchor"><%= link_to "Ask another question", ask_path %></div>
